<h1>予定編集</h1>

<%= form_with(model: @schedule, local: true) do |form| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule fron being saved:</h4>
      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-contorol" %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :all_day %>
    <%= form.check_box :all_day, class: "form-check-input" %>
  </div>

  <div class="form-group">
    <%= form.label :schedule_memo %>
    <%= form.text_area :schedule_memo, class: "form-control" %>
  </div>

  <%= form.submit "保存", class: "btn btn-primary" %>
<% end %>

<%= link_to "キャンセル", schedule_path(@schedule), class: "btn btn-secondary" %>